<!DOCTYPE html>
<html lang="en">

<head>

    <style>
        .first_div {
            margin: 2rem auto;
            max-width: 70rem;

            border-radius: 12px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
            padding: 2rem;
            background-color: #ffffff;
        }

        input[type=text] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }

        input[type=text]:focus {
            border: 3px solid #000000;
        }
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>OpsGenie API</title>
</head>

<body>

    <div class="first_div">
        <form action="#" method="POST">
            <img src="./static/opsgenie.png" height="50px;" width="50px;"> 
            <span style="font-family: 'Montserrat', sans-serif;font-size:20px;font-weight: normal;">OpsGenie Integration</span>
            <p style="font-family: 'Montserrat', sans-serif;font-size:30px;font-weight: normal;">Alert ID<br /><br />
                <input style="border-radius: 5px;font-size:20px;" type="text" name="alert" />
            </p>
            
            <p><input
                    style="background-color: black;border-radius: 5px;padding:20px;font-size: 20px;font-weight: normal;color:#ffffff;border-color: black;cursor: pointer;"
                    type="submit" value="Submit" /></p>
        </form>

    </div>


</body>

</html>